src/prime_sieve/__pycache__/__init__.cpython-310.pyc
src/prime_sieve/core/__pycache__/__init__.cpython-310.pyc
src/prime_sieve/core/__pycache__/matrix.cpython-310.pyc
src/prime_sieve.egg-info/dependency_links.txt
src/prime_sieve.egg-info/PKG-INFO
src/prime_sieve.egg-info/requires.txt
src/prime_sieve.egg-info/SOURCES.txt
src/prime_sieve.egg-info/top_level.txt
